<div class="container" id="project">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Collecting Data in Research Projects</h2>
                </div>

               <p class="lead">
                  The challenges of Ph.D. students inspired a group of friends and colleagues at the TechTalent-Lab and the Department of Management of the Universitat Politècnica de Catalunya·BarcelonaTech to organize a series of "Ph.D. day in Management" regarding research topics. Thus, these events aim to support Ph.D. students by providing them training, advice, and expertise from top scholars. It is the perfect opportunity to learn from experts and present your research while discussing your doubts. It has been designed to increase Ph.D. candidates' effectiveness and meet the challenges of early-career researchers. 
                </p> 

                 <p class="lead"> 
This year's third edition will focus on the interdisciplinary research methods for collecting data, a process that all PhD candidates and researchers have to face in their research projects. Among the five primary methods for collecting data, the seminars will focus on the most common ones in management and related fields: Interviews and Questionnaires (surveys). Besides, the round table will focus on how we can collect and use data from social media networks, such as Twitter and Linkedin, in our research projects. Some of the questions we will discuss with experts in the field are: What differs the face-to-face and online interviews? How to design an interview protocol? How to face a difficult interview? How to design or translate a survey? Which are the most common mistakes when we analyse data from surveys? How can we use data from social media networks? Which is the credibility of the data from these networks? and, What kind of software can we use for collecting data?

                </p>

                 <p class="lead"> 
                  The event will be hosted on Zoom. The registration is open and accessible for all Ph.D. students in the research field of Management and related fields. Feel free to share this information!  
                </p>
                
                 <p class="lead" style="text-align: center"> 
                  <strong>MAXIMUM 50 ATTENDACES </strong>
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Presenting your Research</h2>
                </div>

               <p class="lead">
                  The Ph.D. day is an event organized for Ph.D. students. Due to its training and supportive nature, it offers the opportunity to Ph.D. candidates to present their research to a panel of experts and gather relevant feedback on their research and presentation skills. 
                </p> 
                  
                <p class="lead">               
                  The dynamic of the presentation will be somehow innovative. First, each participant will have 5 minutes to present their research work and ask two questions (i.e., doubts they may have) to the expert panel. Then, two members of the expert panel will answer them.
                </p> 

                <p class="lead">               
                  Apart from the direct feedback, all presenters will receive a written report (on November 30) regarding their presentation. It will be grounded on the experts' opinions and the feedback from the attendants.
                </p> 
                
                  <p class="lead">               
                  We consider that this approach will help Ph.D. students to receive feedback tailored to their expectations, to resolve their particular doubts, and to receive an assessment of their work without the stress of receiving it live.
                </p> 
                
                 <p class="lead" style="text-align: center"> 
                  Please, bear in mind that due to time restrictions, only 10 presentations will be allowed. 
                </p>
                
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Deadlines</h2>
                </div>

               <p class="lead">
                  <strong>9 November 2022</strong> - The deadline for free registration for those people who want to present their research work. 
                </p> 
                 
                <p class="lead">
                  In case you are selected to do a presentation:
                </p>  
                  
                <p class="lead">               
                  <strong>16 November 2022</strong> - Assignment of the slot for your presentation

                </p> 

                <p class="lead">               
                  <strong>23 November 2022</strong> - The deadline for sending the document you are going to use in your presentation
                </p> 
                
            </div>
        </div>
    </div>   
    <!-- /.row -->
</div>







