<div class="container" id="project">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Quantitative Methods for Scientific Research</h2>
                </div>

               <p class="lead">
                  The challenges of Ph.D. students inspired a group of friends and colleagues at the TechTalent-Lab and the Department of Management of the Universitat Politècnica de Catalunya·BarcelonaTech to organize a series of "Ph.D. Day in Management" regarding research topics. Thus, these events aim to support Ph.D. students by providing them training, advice, and expertise from top scholars. It is the perfect opportunity to learn from experts and present your research while discussing your doubts. It has been designed to increase Ph.D. candidates' effectiveness and meet the challenges of early-career researchers. 
                </p> 

                 <p class="lead"> 
In the ever-evolving discipline of management, ensuring research methodologies' robustness, validity, and relevance is paramount. On this occasion, the year's fourth edition will focus on quantitative methods for management research. Some of the questions we will discuss with experts in the field are: which quantitative methods for research can we use in our academic research? How can we maintain rigor in our research when we are using quantitative methods? How to present the results to improve the credibility of our research? How to enhance the clarity and precision of our research? What are the editors' expectations when we present our methods in a submission? 
                </p>
<p class="lead"> 
In previous editions of the Ph.D. Day in Management, the Ph.D. candidates had the opportunity to present their research to a panel of experts and gather relevant feedback on their research and presentation skills. However, we have decided to remove this part of this event and organize a specific event called the Ph.D. Workshop in Management, where more Ph.D. candidates can present their work. We will inform you shortly about this second event's dates and registration process.  </p>

                 <p class="lead"> 
                  The event will be hosted on Zoom. The registration is open and accessible for all Ph.D. students in the research field of Management and related fields. Feel free to share this information!  
                </p>
                
                 <p class="lead" style="text-align: center"> 
                  <strong>MAXIMUM 50 ATTENDACES </strong>
                </p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Deadlines</h2>
                </div>

               <p class="lead">
                  <strong>13 November 2023</strong> - The deadline for free registration. 
                </p> 
                 
                <p class="lead">               
                  <strong>15 November 2023</strong> - Ph.D. Day in Management.
                </p> 
                
                <p class="lead" style="text-align: center"> 
                  <strong>All attendees will receive a certificate of attendance.</strong>
                </p>
                
            </div>
        </div>
    </div>   
    <!-- /.row -->
</div>
